::selection {
  background-color: rgba(43, 43, 43, 0.6);
  color: rgb(248, 248, 248);
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: Inter, sans-serif;
  background-color: #eeeeee;
}
header {
  height: 53px;
  display: flex;
  align-items: center;
  width: 600px;
}
.header-title h2 {
  font-size: 1.2rem;
  font-weight: 600;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  background-color: #fff;
  border-radius: 8px;
  height: 100%;
  box-shadow: 0px 4px 11px #0b0f1f0a;
}
a {
  text-decoration: none;
}
footer {
  height: 3rem;
}
footer p {
  font-size: 0.9rem;
}
